@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.top, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.placeholder {
    box-sizing: border-box;
    width: 300px;
    background-color: gray;
    color: #F9FAF8;
    padding: 70px 90px;
}

.info-head {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.item {
    max-width: 100px;
    text-align: center;
    font-size: 11px;
    color: gray;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.third {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.author {
    font-weight: 700;
}

.fourth {
    background-color: #3882F6;
    color: #F9FAF8;
}

#action {
    border: 2px solid #F9FAF8;
}

body {
    font-family: "Roboto";
    /* width: 75%;
    margin: auto; */
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 12px;
    font-size: 18px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 5px 25px;
    background-color: #3882F6;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    border: 3px solid #3882F6;
}