.header {
    display: flex;
    justify-content: space-between;
}

body {
    width: 75%;
    margin: auto;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}