.header {
    display: flex;
    justify-content: space-between;
}

.top, .footer {
    background-color: #1F2937;
}

body {
    font-family: sans-serif;
    /* width: 75%;
    margin: auto; */
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 12px;
    font-size: 18px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 5px 25px;
    background-color: #3882F6;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    border: 3px solid #3882F6;
}